*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html,body{
  overflow-x: hidden;
  overflow-y: hidden;
}
body{
    background-image: url(image/pexels-tom-fisk-6726935.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .cards .red {
    /* background-color: #f43f5e; */
    background-color:olivedrab;
  }
  
  .cards .blue {
    /* background-color: #3b82f6; */
    background-color: lightslategray;
  }
  
  .cards .green {
    /* background-color: #22c55e; */
    background-color: darkslategray;
  }

  .card .yellow{
    background-color:teal;
  }
  
  .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 370px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
  }
  
  .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .cards .card p.second-text {
    font-size: .7em;
  }
  
  .cards .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }

  .card-sub:hover{
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }

  